name: Cypress E2E Tests

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  saucedemo_login:
    name: Saucedemo Login Test
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run Cypress saucedemo tests
        continue-on-error: true
        run: |
          mkdir -p cypress/results
          echo "==> Running saucedemo login test..."
          docker run --rm -t \
            -v ${{ github.workspace }}:/e2e \
            -w /e2e \
            cypress/included:12.17.0 \
            npx cypress run \
              --spec "cypress/e2e/saucedemo/login.cy.js" \
              --reporter json \
              --reporter-options output=cypress/results/saucedemo-login.json \
              --browser chrome

      - name: Upload saucedemo result
        uses: actions/upload-artifact@v4
        with:
          name: saucedemo-login-json
          path: cypress/results/saucedemo-login.json

  expandtesting_login:
    name: ExpandTesting Login Test
    runs-on: ubuntu-latest
    needs: [saucedemo_login]
    continue-on-error: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run Cypress expandtesting tests
        continue-on-error: true
        run: |
          mkdir -p cypress/results
          echo "==> Running expandtesting login test..."
          docker run --rm -t \
            -v ${{ github.workspace }}:/e2e \
            -w /e2e \
            cypress/included:12.17.0 \
            npx cypress run \
              --spec "cypress/e2e/expandtesting/login.cy.js" \
              --reporter json \
              --reporter-options output=cypress/results/expandtesting-login.json \
              --browser chrome

      - name: Upload expandtesting result
        uses: actions/upload-artifact@v4
        with:
          name: expandtesting-login-json
          path: cypress/results/expandtesting-login.json

  expandtesting_webpark:
    name: ExpandTesting Webpark
    runs-on: ubuntu-latest
    needs: [expandtesting_login]
    continue-on-error: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run Cypress expandtesting tests
        continue-on-error: true
        run: |
          mkdir -p cypress/results
          echo "==> Running expandtesting webpark test..."
          docker run --rm -t \
            -v ${{ github.workspace }}:/e2e \
            -w /e2e \
            cypress/included:12.17.0 \
            npx cypress run \
              --spec "cypress/e2e/expandtesting/webpark.cy.js" \
              --reporter json \
              --reporter-options output=cypress/results/expandtesting-webpark.json \
              --browser chrome

      - name: Upload expandtesting result
        uses: actions/upload-artifact@v4
        with:
          name: expandtesting_webpark-json
          path: cypress/results/expandtesting-webpark.json
